<div class="modal-window">

  <h2>Новая запись</h2>
  <p *ngIf="alertMessage" class="alert">Заполните все поля!</p>
  <label for="title">Заголовок</label>
  <input [(ngModel)]="title" id="title" type="text">

  <label for="text">Текст</label>
  <textarea [(ngModel)]="text" id="text"></textarea>


  <div class="block-buttons">
    <button class="button" (click)="closeModal.emit(false)">
      Отмена
    </button>
    <button class="button" (click)="checkInputs()">
      Сохранить
    </button>
  </div>

</div>
<div class="back"></div>



