<h1 class="header">Блог</h1>


<section class="blog">

  <article *ngFor="let article of articles" class="article">

    <h3> {{ article.title }} </h3>
    <p> {{ article.text }} </p>
    <a [routerLink]="'article/' + article.id" [title]="'Запись ' + article.title">
      <button class="button">Перейти</button>
    </a>

  </article>

  <button class="add-article-button" (click)="openModalWindow()">+ Добавить</button>


  <!-- Modal window for adding new articles -->
  <app-add-article-modal (closeModal)="closeModalWindow()"
                         (articleProperties)="addArticle($event)"
                         [openModal]="isModalWindowVisible">
  </app-add-article-modal>

</section>


